{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}

{% block body %}
<div class="login-page">

<section class="auth-left">
    <div class="headline">Bienvenue</div>
    <div class="subtext">Rejoingnez nous pour la réparation de votre voiture,</div><br>  
    <div class="subtext">profitez des meilleurs services à tout créneaux possible</div><br>

  <div class="home__hero-image">
      <img src="{{ asset('assets/img/carfix.jpg') }}" alt="Automobile">
    </div>
</section>

    <section class="login-form-container">
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="headline">Connexion</h1>

            <label for="username">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn" data-btn="xs" type="submit">
                Se connecter
            </button>
        </form>

    </section>
</div>
{% endblock %}
