{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="register-page">
  <section class="home__banner" style="background-image: url('{{ asset('assets/img/car.svg') }}');">
    <div class="register-form-container">
      <div class="register-form-box">
        <div class="register-form">
          <h1>Inscription</h1>

            <div class="grid grid-cols-1 gap-2">
                {{ form_errors(registrationForm) }}
            </div>

            {{ form_start(registrationForm) }}
            <div class="grid grid-cols-2 gap-2 mt-2">
                {{ form_row(registrationForm.type) }}
                {{ form_row(registrationForm.civility) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.tel) }}

                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.plainPassword, {label: 'Votre mot de passe'}) }}
            </div>

            <div class="grid grid-cols-2 gap-2 mt-2">
                <div class="form-check">
                    <input type="checkbox" class="form-checkbox" id="is_conductor" name="is_conductor">
                    <label class="form-label" for="is_conductor">Je suis le conducteur</label>
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="name_conductor">Nom du conducteur</label>
                    <input type="text" class="form-input" id="name_conductor" name="name_conductor" placeholder="Nom du conducteur">
                </div>
                <div class="form-group">
                    <label class="form-label" for="firstname_conductor">Prénom du conducteur</label>
                    <input type="text" class="form-input" id="firstname_conductor" name="firstname_conductor" placeholder="Prénom du conducteur">
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel_conductor">Téléphone du conducteur</label>
                    <input type="tel" class="form-input" id="tel_conductor" name="tel_conductor" placeholder="Tel du conducteur">
                </div>
            </div>

            <div class="grid grid-cols-1 gap-2 mt-2 mb-2">
                {{ form_widget(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn-white-secondary">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
