{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="register-page">
  <section class="home__banner" style="background-image: url('{{ asset('assets/img/car.svg') }}');">
    <div class="register-form-container">
      <div class="register-form-box">
        <div class="register-form">
          <h1>Inscription</h1>

          {{ form_start(registrationForm) }}
          {{ form_errors(registrationForm) }}
          {{ form_row(registrationForm.email) }}
          {{ form_row(registrationForm.firstname) }}
          {{ form_row(registrationForm.lastname) }}
          {{ form_row(registrationForm.plainPassword) }}
          {{ form_widget(registrationForm.agreeTerms) }}

          <button type="submit" class="btn">M'inscrire</button>
          {{ form_end(registrationForm) }}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
