{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription</h1>
        <div class="grid grid-cols-1 gap-2">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_start(registrationForm) }}
        <div class="grid grid-cols-2 gap-2 mt-2">
            {{ form_row(registrationForm.civility) }}
            {{ form_row(registrationForm.type) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.email) }}

            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Votre mot de passe'}) }}
        </div>
        <div class="grid grid-cols-1 gap-2 mt-2">
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
