<div class="header__nav">
    <nav>
        <h1 class="header__title">Nom Appli</h1>
        <div>
            <ul class="nav nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('account_index') }}">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register_index') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>